body{
    border-radius: 28px 28px 28px 28px;
-webkit-border-radius: 28px 28px 28px 28px;
-moz-border-radius: 28px 28px 28px 28px;
background-color: #dbdddd;
border: 100% solid #f4f2f2;
}
.contenedor{
    width: 100%;
    height: 100%;
    /*background-color: brown;*/
    
}

.header{
    width: 100%;
    height: 25%;
    /*background-color: blue;*/
}

.navega{
	width: 98.5%;
	height: 48px;
	padding: 0 10px;
    background: #192c3a;
    color: #fff;
}
/* Nivel 0 */
.navega ul{
	list-style: none;
	text-align: right;
}
.navega ul li{
	width: 130px;	
}
.navega ul li:hover>ul{
	display: block;
}
.navega ul li{
	background: #192c3a;		
}
.navega>ul>li{
	display: inline-block;
}
.navega ul li a{
	display: block;
	text-decoration: none;
	color: #fff;
	padding: 15px 5px;
	text-align: center;
}
.navega ul li a:hover{
	background: #65a3cf;
	border-bottom: 2px solid black;
}
/* Nivel 1 */
.navega li ul{
	position: absolute;
	display: none;
}
.navega li ul li{
	position: relative;
}

/* Nivel 2 */
.navega li ul li ul{
	left: 130px;
	top: 2px;
}

.section{
    width: 100%;
    height: 60%;
    background-color: rgb(123, 123, 248);
}

.obj{
    width: 640px;
    height: 100%;
    /*background-color: aqua;*/
    display: inline-block;
}

.cont{
    width: 689px;
    height: 100%;
    /*background-color: blueviolet;*/
    display: inline-block;
}

.section2{
    width: 100%;
    height: 60%;
    /*background-color: green;*/
}

.footer{
    width: 100%;
    height: 20%;
    /*background-color: pink;*/
}

.autor{
    width: 100%;
    height: 60%;
    /*background-color: yellow;*/
}

.mod1{
    width: 640px;
    height: 100%;
    /*background-color: aqua;*/
    display: inline-block;
}

.mod2{
    width: 689px;
    height: 100%;
    /*background-color: blueviolet;*/
    display: inline-block;
}

/* normas APA */

.normas{
    font-family: 'Times New Roman', Times, serif;
    font-size: 12pt;
    color: black;
}

/* recurso 1 */

.Contenido_recurso{
    width: 100%;
    height: 100%;
    /*background-color: brown;*/
    
}

.recurso1_1{
    width: 100%;
    height: 60%;
    /*background-color: yellow;*/
}

.rec1_1{
    width: 640px;
    height: 100%;
    /*background-color: aqua;*/
    display: inline-block;
}

.rec_ima1_1{
    width: 689px;
    height: 100%;
    /*background-color: blueviolet;*/
    display: inline-block;
}

.recurso1_2{
    width: 100%;
    height: 60%;
    /*background-color: yellow;*/
}

.rec_imag2_1{
    width: 640px;
    height: 100%;
   /* background-color: aqua;*/
    display: inline-block;
}

.rec2_1{
    width: 689px;
    height: 100%;
    /*background-color: blueviolet;*/
    display: inline-block;
}

/* recurso 2 */

.Contenido_recurso_2{
    width: 100%;
    height: 100%;
    /*background-color: brown;*/
    
}

.recurso2_1{
    width: 100%;
    height: 60%;
    /*background-color: yellow;*/
}

.rec2_1{
    width: 640px;
    height: 100%;
    /*background-color: aqua;*/
    display: inline-block;
}

.rec_ima2_1{
    width: 689px;
    height: 100%;
    /*background-color: blueviolet;*/
    display: inline-block;
}

.recurso2_2{
    width: 100%;
    height: 60%;
    /*background-color: yellow;*/
}

.rec_imag2_2_1{
    width: 640px;
    height: 100%;
    /*background-color: aqua;*/
    display: inline-block;
}

.rec2_2_1{
    width: 689px;
    height: 100%;
    /*background-color: blueviolet;*/
    display: inline-block;
}

/* concepto 1 */

.Contenido_concepto_1{
    width: 100%;
    height: 100%;
    /*background-color: brown;*/
    
}

.cocepto1_1{
    width: 100%;
    height: 60%;
    /*background-color: yellow;*/
}

.con1_1{
    width: 640px;
    height: 100%;
    /*background-color: aqua;*/
    display: inline-block;
}

.con_ima1_1{
    width: 689px;
    height: 100%;
    /*background-color: blueviolet;*/
    display: inline-block;
}

.con1_2{
    width: 100%;
    height: 60%;
    /*background-color: yellow;*/
}

.con_imag2_1{
    width: 640px;
    height: 100%;
    /*background-color: aqua;*/
    display: inline-block;
}

.con2_1{
    width: 689px;
    height: 100%;
    /*background-color: blueviolet;*/
    display: inline-block;
}

/* concepto 2 */

.Contenido_concepto_2{
    width: 100%;
    height: 100%;
   /* background-color: brown;*/
    
}

.cocepto2_1{
    width: 100%;
    height: 60%;
   /* background-color: yellow;*/
}

.con2_1{
    width: 640px;
    height: 100%;
    /*background-color: aqua;*/
    display: inline-block;
}

.con_ima2_1{
    width: 689px;
    height: 100%;
    /*background-color: blueviolet;*/
    display: inline-block;
}

.con2_2{
    width: 100%;
    height: 60%;
    /*background-color: yellow;*/
}

.con_imag2_2_1{
    width: 640px;
    height: 100%;
    /*background-color: aqua;*/
    display: inline-block;
}

.con2_2_1{
    width: 689px;
    height: 100%;
    /*background-color: blueviolet;*/
    display: inline-block;
}